body {margin: 30px; padding: 30px; font-size: 100%; line-height: 1.5; background-color: lightblue}
div {border-style: solid; padding: 10px}
article, aside, figcaption, figure, footer, header, nav, section {display: block;}
h1, h2, h3, h4 {margin: 1em 0 .5em; line-height: 1.25; text-decoration: underline;}
h1 {font: Arial; font-size: 2em;}
ul, ol {list-style-type: square; margin: 1em 0; padding-left: 40px; color: black}
p {font: Arial; margin: 1em 0;}
a img {border: none;}
